@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color: #478987;
}
.nav-logo a{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #fff;
}
.nav-logo span{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: brown;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links li a{
    margin: 20px;
    padding: 8px;
    font-size: 25px;
    color: #333;
}
.links li a:hover,.active{
    color: rgb(159, 7, 35);
    border-bottom: 3px solid #820240;
    width: 50%;
}
.btn-login{
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
    background-color: #820240;
    color: #fff;
    border-radius: 10px;
}
.btn-login:hover{
    transition: all 0.3s ease;
    transform: scale(1.15);
}
.about2{
    width: 100%;
    background-color: aliceblue;
    height: auto;
}
.about2 h1{
    padding: 70px;
    position: relative;
    left: 1px;
    top: 40px;
    font-size: 45px;
    color: #1f0101;
    font-family: 'Poppins',sans-serif;
}
.about2 h2{
    
    padding-left: 30px;
    font-size: 30px;
    color: #820240;
    font-family: 'Poppins',sans-serif;
}
.about2 p{
    
    font-size: 24px;
    padding: 25px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:dimgrey;
}
.about2 img{
    margin-top: 70px;
    padding: 20px;
    width: 690px;
    height: 500px;
    float: left;
}
.about{
    width: 100%;
    background-color: aliceblue;
    height: auto;
}
.about h1{
    padding: 55px 30px;
    font-size: 45px;
    color: #1f0101;
    font-family: 'Poppins',sans-serif;
}
.about h2{
    padding-left: 30px;
    font-size: 60px;
    color: #820240;
    font-family: 'Poppins',sans-serif;
}
.about p{
    font-size: 24px;
    padding: 25px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:dimgrey;
    float: left;
}
.about img{
    position: relative;
    bottom: 150px;
    left: 50px;
    width: 870px;
    height: 500px;
}
.about1{
    width: 100%;
    background-color: aliceblue;
    height: auto;
}
.about1 h1{
    padding: 55px 30px;
    font-size: 45px;
    color: #1f0101;
    font-family: 'Poppins',sans-serif;
}
.about1 h2{
    padding-left: 30px;
    font-size: 40px;
    color: #820240;
    font-family: 'Poppins',sans-serif;
}
.about1 p{
    font-size: 24px;
    padding: 25px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:dimgrey;
    float: left;
}
.about1 img{
    position: relative;
    width: 651px;
    bottom: 160px;
    left: 50px;
    height: 550px;
}
.footer{
    background-color: #333;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content #a a{
    font-size: 25px;
    padding: 10px;
}
.footer-content h4{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}
.footer-content li{
    padding: 10px;
    margin-bottom: 16px;
}
.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.3s ease;
}
.footer-content li a:hover{
    transform: scale(1.10);
}
.footer-content1 h1{
    padding-top: 30px;
    color: #fff;
    padding: 20px;
    font-size: 50px;
}
.footer-content1 span{
    color: wheat;
}
.footer-content1 .icons a i{
    font-size: 30px;
    padding: 20px;
    color: #fff;
}